    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>I am a computational biologist, currently working at Imperial College london. My main research interests are threefold:</p>
                <p>1. Spider web morphology and the associated allometric relationships<br>
                   2. The application of computational and mathematical approaches to novel and understudied biological fields<br>
                   3. The development of rugged software; easy to use and capable in field-conditions when the rain is slashing and you just want to get inside</p>
            </div>
        </div>
    </section>
