    <!-- Pubs Section -->
    <section id="publications" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 publications">
                <h2>Publications</h2>
                <h3>As lead author</h3>
                <p>
                    <ul>
                        <li class="paper"><span class="author">Windram, F.</span> & J. Rosindell (2023)<br>
                            Improving in-situ spider web photography with UV fluorescence<br>
                            <span class="deprioritise">In review.<!--<i>Arachnology</i>DOI goes here--></span>
                        </li>
                    </ul>
                </p>
                <h3>As contributing author</h3>
                <p>
                    <ul>
                        <li class="paper">Shocket, M., J. Caldwell, P. Huxley, C. Lippi, <span class="author">F. Windram</span>, & A. Keyel. (2023)<br>
                            Chapter 12: Modeling the effects of climate and climate change on transmission of vector-borne disease.<br>
                            <span class="deprioritise"><i>Planetary Health</i>. Ed: J. Conn.<br>
                            In press.<!--DOI goes here--></span>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </section>
