    <!-- Pubs Section -->
    <section id="publications" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 publications">
                <h2>Publications</h2>
<!--                <h3>As lead author</h3>-->
<!--                <p>-->
<!--                    <ul>-->
<!--                        <li class="paper"><span class="author">Windram, F.</span> & J. Rosindell (2023)<br>-->
<!--                            Improving in-situ spider web photography with UV fluorescence.<br>-->
<!--                            <span class="deprioritise">In review.&lt;!&ndash;<i>Arachnology</i>DOI goes here&ndash;&gt;</span>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </p>-->
                <h3>As contributing author</h3>
                <p>
                    <ul>
                        <li class="paper">Dorigatti, I., K. Gaythorpe, V. Cox, <span class="author">F. Windram.</span>, & L. Cator (2025)<br>
                            Priorities for modelling arbovirus transmission under climate change.<br>
                            <span class="deprioritise"><i>Trends in Molecular Medicine</i><br>
                                <a href="https://www.cell.com/trends/molecular-medicine/fulltext/S1471-4914(25)00121-2">DOI: 10.1016/j.molmed.2025.05.010</a></span>
                        </li>
                        <li class="paper">Waring, B., L. Lancastle, T. Bell, M. I. Bidartondo, P. García-Díaz, X. Lambin, E. Vanguelova, & <span class="author">F. Windram.</span> (2024)<br>
                            Windthrow disturbance impacts soil biogeochemistry and bacterial communities in a temperate forest.<br>
                            <span class="deprioritise"><i>Plant Soil</i><br>
                                <a href="https://link.springer.com/article/10.1007/s11104-024-07086-8">DOI: 10.1007/s11104-024-07086-8</a></span>
                        </li>
                        <li class="paper">Shocket, M., J. Caldwell, P. Huxley, C. Lippi, <span class="author">F. Windram</span>, & A. Keyel. (2023)<br>
                            Chapter 12: Modeling the effects of climate and climate change on transmission of vector-borne disease.<br>
                            <span class="deprioritise"><i>in: Planetary health approaches to understand and control vector-borne diseases</i>. Ed: J. Conn.<br>
                                <a href="https://brill.com/edcollchap/book/9789004688650/BP000021.xml">DOI: 10.3920/9789004688650_012</a></span>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </section>
