/* ### FW Custom ### */
/*Add header*/
.headingrow {
    /*background-image: linear-gradient(to right, #0000,#000a,#000a,#000a,#0000);*/
    background-image: radial-gradient(#000a,#000a,#000a,#0000, #0000);
}

.publications {
    font-size: 18px;
}

.publications .paper{
    color: #eee;
}

.deprioritise{
    color: #777;
}
.publications .author{
    color: #fff;
    font-weight: bold;
}

.illustration{
    padding: 2% 0 5% 0;
}

h2{
    border-top: 1px solid #111;
    padding-top: 85px;
}

@media (min-width: 767px){
    .content-section {
        padding-top: 50px;
    }
}

.content-section {
    padding-top: 50px;
}

.headshot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    min-width: 300px;
    padding: 3%;
    border-radius: 50px;
}

.pkglogo{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    padding: 3%;
}
.pkgh3{
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: none;
}

.pkgh3 a {
    text-decoration: none;
    color: #ffffff;
}

.pkgname{
    color: #fff;
    font-weight: bold;
}

@media(min-width:767px) {
    .fa-play-circle {
        /*FW: Control the little circle logo rotation when we scroll*/
        transition: transform 0.5s;
    }

    .top-nav-collapse .fa-play-circle {
        transform: rotate(-90deg);

    }
}

.pkgcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 15px;
}


.pkgchild{
    border-radius: 15px;
    flex-basis: 300px;
    max-width: 300px;
    border:
        2px solid hsl(210deg 8% 50%);
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 20px;
}

.pkgchild p{
    font-size: calc(1vw + 1vh);
}

.pkgchild .pkgheader{
    text-align: center;
    color: #ffffff;
    justify-content: center;
    text-align: center;
}

.pkgchild .pkgheader a{
    text-decoration: none;
    color: #ffffff;
}

.pkgchild:hover{
    border:
            2px solid hsl(210deg 8% 100%);
    transition: border 0.1s ease-out;
}

/*.pkgchild a {*/
/*    text-decoration: none;*/
/*    color: #ffffff;*/
/*    justify-content: center;*/
/*    text-align: center;*/
/*}*/

.pkgchild p {
    font-size: 16px;
}

.pkggridlogo{
    width: 50%;
    max-width:128px;
}